// Sizes
$large: 150%;
$normal: 100%;
$small: 80%;
$rem: 16px;
// Colors
// Sites Main Colors
$color-one: #461516; // Dark Red #5C0A0D
$color-two: #7F8337; // Green
$color-three: #DDDEC0; // Tan
// Regions - Use Site Main Colors variables for these if they fit
$nav-bg: $color-three;
$site-bg: #fff;
$header-bg: #fff;
$main-bg: #fff;
$footer-bg: #272727;
//nav
$nav-border: #CFCFCF;
// Typography
$body-copy-color: #272727;
$heading-color: $color-one;
$link: $color-one;
$visited: darken($link, 10%);
$hover: lighten($link, 10%);
// Misc
$white: #F1F1F1;
$black: #272727;
$table-row-odd: #F7F7F7;
$table-row-even: #fff;
$selection-bg: #66B360;
$selection: $white;
$inherit: inherit;
// Layout Settings
@include add-grid(12);
@include add-gutter(1/3);
$sidebar_first_columns: 3;
$sidebar_second_columns: 3;
//Layout Variables
$container_width: 1600px;
$bp-xsmall: 400px;
$bp-small: 600px;
$bp-small-down: 0 $bp-small;
$bp-medium: 800px;
$bp-medium-down: 0 $bp-medium;
$bp-large: 1000px;
$bp-xlarge: 1200px;
$no-query: $bp-medium,
'no-query' '.no-mq';
@include breakpoint-set('no query fallbacks', true);
@include breakpoint-set('to ems', true);
$breakpoints: '';