a {
  color: $link;
  &:hover {
    color: $hover;
  }
  &:visited {
    color: $visited;
  }
}

a.read-more-link {
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
  a {
    text-decoration: none;
  }
}