<div class="contact-form">

    <div id="contact-message">
        <h3>{{page.webform.thank_you_message}}</h3>
    </div>

    <form id="contact-form" method="post" action="/contact-us/?sent=true">
        <input type="hidden" name="_to" value="{{page.webform.to}}">
        <input type="hidden" name="_subject" value="{{page.webform.subject}}">
        <input type="text" name="_gotcha" style="display: none;">
        <div class="rendered-form">
            <div class="form-super-group">
                <div class="left form-group field-first-name">
                    <label for="first-name" class="fb-text-label">First Name *</label>
                    <input type="text" class="form-control" name="first-name" id="first-name" required="">
                </div>
                <div class="right form-group field-last-name">
                    <label for="last-name" class="fb-text-label">Last Name *</label>
                    <input type="text" class="form-control" name="last-name" id="last-name" required="">
                </div>
            </div>
            <div class="form-super-group">
                <div class="left form-group field-email">
                    <label for="email" class="fb-text-label">Email *</label>
                    <input type="text" class="form-control" name="email" id="email" required="">
                </div>
                <div class="right form-group field-phone">
                    <label for="phone" class="fb-text-label">Phone</label>
                    <input type="text" class="form-control" name="phone" id="phone">
                </div>
            </div>
            <div class="form-group field-message">
                <label for="message" class="fb-textarea-label">Message *</label>
                <textarea type="textarea" class="form-control" name="message" id="message" rows="5" required=""></textarea>
            </div>
        </div>
        <p class="required">* Required Fields</p>
        <div class="form-super-group">
            <div class="g-recaptcha left" id="RecaptchaField1"></div>
            <div class="right align-right">
                <input class="cta-button" type="submit" value="Get In Touch">
            </div>
        </div>
    </form>

</div>