<footer class="wrap clearfix">
    <div class="footer-inner clearfix">
        <div class="subpage clearfix">
            <div class="left" itemscope itemtype="http://schema.org/Dentist">
                <h5><span itemprop="name" class="editable">Wisdom Ways Acupuncture</span></h5>
                <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <span itemprop="streetAddress" class="lb editable">363 W. Drake Road Suite 1</span>
                    <span itemprop="addressLocality" class="editable">Fort Collins</span>,
                    <span itemprop="addressRegion" class="editable">CO</span>
                    <span addresszipcode="postalCode" itemprop="postalCode" class="editable">80526</span>
                </div>
                Phone: <span itemprop="telephone" class="editable"><a href="tel:+1-970-227-3077">(970) 227-3077 - (970) CARE-077</a></span>
                <div itemprop="email" class="editable"><a href="mailto:wisdomwaysacupuncture@gmail.com">Email Us</a></div>
            </div>

            <div class="right editable">
	<h5><a target="_blank" rel="noopener nofollow" href="https://www.google.com/maps/dir/''/wisdomways+acupuncture/@40.5520189,-105.1526198,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x87694ba6d101c83d:0xf507ed6ab69e0b12!2m2!1d-105.0825799!2d40.55204">Map to Wisdom Ways <img alt="Map to WisdomWays" class="icon-small" src="/assets/images/icons/waypoint.svg" /></a></h5>
	<p>Look for the next building just west of Cuppy&rsquo;s Coffee Shop, and directly across the street from the CSU Vet Hospital, in mid-Fort Collins. Clinic is directly under the big blue Allstate sign.</p>
	<h5>Hours:</h5>
	<p>Mon: Closed &nbsp;&nbsp; Tue: 9-6 &nbsp;&nbsp; Wed: 1-7 &nbsp;&nbsp; Thur: 10-6 &nbsp;&nbsp; Fri: 9-2</p>
</div>
        </div>
    </div>
</footer>