<footer class="wrap clearfix">
    <div class="footer-inner clearfix">
        <div class="subpage clearfix">
            <span class="left">&copy; Copyright
                <script>
                    document.write(new Date().getFullYear());
                </script> <span class="editable"> Ways Acupuncture, All Right Reserved.</span></span>
            <span class="right">Website by: <a href="https://www.variantstudios.com" target="_blank">Variant Studios</a>.</span>
        </div>
    </div>
</footer>