<footer class="wrap clearfix">
    <div class="footer-inner clearfix">
        <div class="subpage clearfix">
            <div class="left" itemscope itemtype="http://schema.org/Dentist">
                <h5><span itemprop="name">Richard W. Mellin, DDS, MD <br/>Oral &amp; Maxillofacial Surgery of Greeley</span></h5>
                <span itemprop="description"></span>
                <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <span itemprop="streetAddress" class="lb">3400 W 16th. Street, Suite A</span>
                    <span itemprop="addressLocality">Greeley</span>,
                    <span itemprop="addressRegion">CO</span>
                    <span addressZipcode="postalCode" itemprop="postalCode">80631</span>
                </div>
                Phone: <span itemprop="telephone"><a href="tel:+1-970-353-5825">970-353-5825</a></span>
            </div>

            <div class="right">
                <a href="https://www.facebook.com/Oral-Maxillofacial-Surgery-of-Greeley-PC-164023076957356/" target="_blank" rel="noopener nofollow"><img src="/assets/images/icons/find-us-on-facebook.svg" alt="find us on Facebook"></a>
            </div>
        </div>
    </div>
</footer>