<footer class="wrap clearfix">
    <div class="footer-inner clearfix">
        <div class="subpage clearfix">
            <div class="left" itemscope itemtype="http://schema.org/Dentist">
                <h5><span itemprop="name">WisdomWays Acupuncture</span></h5>
                <span itemprop="description"></span>
                <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <span itemprop="streetAddress" class="lb">363 W. Drake Road Suite 1</span>
                    <span itemprop="addressLocality">Fort Collins</span>,
                    <span itemprop="addressRegion">CO</span>
                    <span addressZipcode="postalCode" itemprop="postalCode">80526</span>
                </div>
                Phone: <span itemprop="telephone"><a href="tel:+1-970-227-3077">(970) 227-3077 - (970) CARE-077</a></span>
                <div itemprop="email"><a href="mailto:wisdomwaysacupuncture@gmail.com">Email</a></div>
            </div>

            <div class="right">
                right
            </div>
        </div>
    </div>
</footer>