<header itemscope class="wrap clearfix siteheader">
    <div class="clearfix header-wrap">

        <div class="site-name logo">
            <a href="/"><img src="/assets/images/logo.svg" alt="{{site.title}}"></a>
        </div>

        <nav class="main-nav">

            <input type="checkbox" class="menu-btn" id="menu-btn" />
            <label class="menu-icon" for="menu-btn">
                    <span class="navicon"></span>
                </label> {% include nav.html nav=site.data.main-menu %}
        </nav>
    </div>
</header>