<header itemscope class="clearfix siteheader">
    <div class="clearfix header-wrap">
        <span class="tel"><a href="tel:+1-970-227-3077">(970) 227-3077</a></span>
        <div class="site-name logo">
            <a href="/"><img src="/assets/images/logo.svg" alt="{{site.title}}"></a>
        </div>

        <nav class="main-nav">

            <input type="checkbox" class="menu-btn" id="menu-btn" />
            <label class="menu-icon" for="menu-btn">
                    <span class="navicon"></span>
                </label> {% include nav.html nav=site.data.main-menu %}
        </nav>
    </div>
</header>