{% comment %} {% if page.layout == 'front' %}
<script>
    var cb = function() {
        var l = document.createElement('link');
        l.rel = 'stylesheet';
        l.href = '/assets/css/style.css';
        var h = document.getElementsByTagName('head')[0];
        h.parentNode.insertBefore(l, h);
    };
    var raf = requestAnimationFrame || mozRequestAnimationFrame ||
        webkitRequestAnimationFrame || msRequestAnimationFrame;
    if (raf) raf(cb);
    else window.addEventListener('load', cb);
</script>
{% else %}
<link rel="stylesheet" href="/assets/css/style.css" media="screen"> {% endif %} {% endcomment %}
<link rel="stylesheet" href="/assets/css/style.css" media="screen"> 

<link href="https://fonts.googleapis.com/css?family=Mitr:600|PT+Sans:400,700" rel="stylesheet">

<script src="/assets/js/prod/modernizr-2.8.3.min.js"></script>
<script src="/assets/js/prod/zepto.1.2.0.min.js"></script>
<script src="/assets/js/prod/scripts.js"></script>

{% if page.layout == 'front' %}

{% endif %} 
{% if include.class == 'contact' %}
<script src="/assets/js/prod/contact.js"></script>
<script src='https://www.google.com/recaptcha/api.js?onload=CaptchaCallback&render=explicit' async defer></script>
{% endif %} {% comment %} {% if site.cloudinaryurl %}
<script src="/assets/js/prod/cloudinary.js"></script>
{% endif %} {% endcomment %} {% if include.google_analytics_tracking_id %}
<script src="https://cdn.jsdelivr.net/npm/ga-lite@1/dist/ga-lite.min.js" async></script>
<script>
    var galite = galite || {};
    galite.UA = '{{ site.google_analytics_tracking_id }}';
</script>
{% endif %}