html {
    box-sizing: border-box;
    height: 100%;
    body {
        margin: 0;
        height: 100%;
        background: $site-bg;
        overflow-x: hidden;
        @include breakpoint($bp-medium, $no-query: ".no-mq") {
            padding-top: 260px;
            transition: all 0.2s ease;
            &.shrink {
                padding-top: 143px;
                transition: all 0.2s ease;
            }
        }
    }
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.wrap {
    @include clearfix;
    max-width: $container_width;
    margin: 0 auto;
}

.site-wrapper {
    margin: 0 auto;
    max-width: $container_width;
}

main,
header,
footer,
section,
aside {
    display: block;
}

.inner-wrap {
    @include clearfix;
    max-width: 1200px;
    margin: 0 auto;
}

.align-to-center {
    text-align: center;
}

.align-to-left {
    text-align: left;
}

.align-to-right {
    text-align: right;
}

img.align-to-right {
    float: right;
}

img.align-to-left {
    float: left;
}

img.align-to-center {
    display: block;
    margin: 0 auto;
}