html {
    box-sizing: border-box;
    height: 100%;
    body {
        margin: 0;
        height: 100%;
        background: $site-bg;
        overflow-x: hidden;
    }
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.wrap {
    @include clearfix;
    max-width: $container_width;
    margin: 0 auto;
}

.site-wrapper {
    margin: 0 auto;
    max-width: $container_width;
}

main,
header,
footer,
section,
aside {
    display: block;
}

.inner-wrap {
    @include clearfix;
    max-width: 1200px;
    margin: 0 auto;
}

.main-wrapper.clearfix {
    @include breakpoint($bp-medium, $no-query: ".no-mq") {
        top: 260px;
        position: relative;
    }
}