body.front .footer-wrapper-top,
body.not-front .footer-wrapper-top {
    background-color: #55090B;
    @include breakpoint($bp-medium, $no-query: ".no-mq") {}
    color: #fff;
    //padding: 1rem 0;
    .subpage {
        background: none;
        margin: 0 auto;
        padding-top: 0;
        padding-bottom: 0;
        @include breakpoint($bp-medium, $no-query: ".no-mq") {
            //padding-bottom: 2rem;
            background-image: url(/assets/images/red-footer-logo.svg);
            background-position: 10px center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
    .footer-inner.clearfix.container-padding-medium {
        padding-bottom: 0;
        @include breakpoint($bp-medium, $no-query: ".no-mq") {
            //padding-bottom: 2rem;
        }
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #fff;
        margin-bottom: .2rem;
    }
    .footer-inner {
        margin: 1rem auto;
        a {
            color: #fff;
        }
        .left {
            font-size: .8rem;
            @include breakpoint($bp-medium, $no-query: ".no-mq") {
                @include grid-span(3, 3, $gutter: 0);
                text-align: left;
            }
            text-align: center;
        }
        .right {
            font-size: .8rem;
            margin-top: .5rem;
            a img {
                transform: scale(.7);
            }
            @include breakpoint($bp-medium, $no-query: ".no-mq") {
                @include grid-span(6, 7, $gutter: 0);
                margin-top: 0;
                //text-align: right;
                a img {
                    transform: scale(1);
                }
            }
            text-align: left;
        }
    }
    .lb {
        display: block;
    }
    .icon-small {
        height: 15px;
    }
}

body.front .footer-wrapper-bottom,
body.not-front .footer-wrapper-bottom {
    padding-bottom: 0;
    background-color: #780D10;
    text-align: center;
    .subpage {
        background: none;
        margin-top: .5rem;
        margin-bottom: .5rem;
        padding-top: 0;
        padding-bottom: 0;
    }
    .footer-inner.clearfix.container-padding-medium {
        padding-bottom: 0;
        @include breakpoint($bp-medium, $no-query: ".no-mq") {
            //padding-bottom: 2rem;
        }
    }
    .footer-inner {
        span {
            color: #fff;
            a {
                color: #fff;
            }
        }
        .left {
            font-size: .8rem;
            @include breakpoint($bp-medium, $no-query: ".no-mq") {
                @include grid-span(6, 1, $gutter: 0);
                text-align: left;
            }
            text-align: center;
        }
        .right {
            font-size: .8rem;
            @include breakpoint($bp-medium, $no-query: ".no-mq") {
                @include grid-span(6, 7, $gutter: 0);
                text-align: right;
            }
            text-align: center;
        }
    }
}

.lb {
    display: block;
}