header.siteheader {
    position: relative;
    width: 100%;
    background: #fff;
    padding: 0;
    //padding: 0 2rem;
    @include breakpoint($bp-medium, $no-query: ".no-mq") {
        position: fixed;
        width: 100%;
        z-index: 2;
        top: 0;
        transition: all 0.2s ease;
        &.shrink {
            box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
            .logo img {
                transition: all 0.2s ease;
                margin: .5rem auto .5rem auto;
                width: 300px;
            }
            .main-nav {
                transition: all 0.2s ease;
                margin: .5rem 0 0 0;
            }
        }
    }
    .header-wrap {
        position: relative;
    }
    @include breakpoint($bp-medium, $no-query: ".no-mq") {
        padding: .5rem 1rem;
        //background: none;
    }
    @include breakpoint($bp-xlarge, $no-query: ".no-mq") {
        padding: .5rem 0;
    }
    .logo {
        //text-align: center;
        // transform: scale(.75);
        // @include breakpoint($bp-medium, $no-query: ".no-mq") {
        //     @include grid-span(4, 1, $gutter: 0);
        // }
        width: 100%;
        text-align: center;
    }
    .main-nav {
        width: 100%;
        float: none;
        @include breakpoint($bp-medium, $no-query: ".no-mq") {
            //@include grid-span(8, 5, $gutter: 0);
        }
    }
    span.tel {
        font-weight: 700;
        font-size: 1.1rem;
        display: block;
        width: 100%;
        background: $color-two;
        color: #fff;
        padding: 0 0 0 .8rem;
        a {
            text-decoration: none;
            color: #fff;
        }
        @include breakpoint($bp-medium, $no-query: ".no-mq") {
            padding: 0;
            display: block;
            color: $color-two;
            position: absolute;
            right: 0;
            top: -12px;
            background: none;
            width: auto;
            display: none;
            a {
                text-decoration: none;
                color: $color-two;
            }
        }
    }
}

#site-header {
    padding: 0 0 0 0;
    //background: $header-bg;
    width: 100%;
    //z-index: 2;
    transition: all .5s ease;
    //box-shadow: 5px 0px 20px 0 rgba(0, 0, 0, .1);
    @include breakpoint($bp-medium, $no-query: ".no-mq") {
        //padding: 1rem 1rem 0 1rem;
        //box-shadow: none;
    }
}