.logo {
    // transform: scale(.7);
    @include breakpoint($bp-medium, $no-query: '.no-mq') {
        // transform: scale(1);
    }
    transition: all .5s ease;
    img {
        transition: all 0.2s ease;
        display: block;
        margin: 1rem auto;
        padding: 0 .5rem;
        @include breakpoint($bp-medium, $no-query: '.no-mq') {
            padding: 0;
            margin: 1rem auto 2rem auto;
            width: 656px;
        }
        // @include breakpoint($bp-large, $no-query: '.no-mq') {
        //     margin: 0;
        // }
    }
}