p.error_message,
p.pink_message,
p.light_gray_message,
p.dark_gray_message,
p.rustic_red_message,
p.burgundy_message,
p.green_message,
p.frost_message {
    background-position: 1rem center;
    background-repeat: no-repeat;
    background-size: 30px 30px;
}

p.pink_message {
    color: #D8000C;
    background-color: #FFD2D2;
}

p.light_gray_message {
    color: #55090B;
    background-color: lightgray;
}

p.dark_gray_message {
    color: #55090B;
    background-color: darkgray;
}

p.rustic_red_message {
    color: #ffffff;
    background-color: #55090B;
}

p.burgundy_message {
    color: #ffffff;
    background-color: #780D10;
}

p.green_message {
    color: #ffffff;
    background-color: #7F8337;
}

p.frost_message {
    color: #55090B;
    background-color: #dddec0;
}

p.error_message {
    color: #D8000C;
    background-color: #FFD2D2;
    background-image: url(/assets/images/icons/error.svg);
}

img.right-inline {
    float: right;
    margin: 0 0 1rem 1rem;
}

img.left-inline {
    float: left;
    margin: 0 1rem 1rem 0;
}

img.center-block {
    display: block;
    margin: 0 auto;
}

.align-to-right {
    text-align: right;
}

.align-to-left {
    text-align: left;
}

.align-to-center {
    text-align: center;
}