input[type="submit"] {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    @include btn($color-one, #fff, darken($color-one, 10%), 2px, 95%);
    font-family: $font-family;
    @include trans(all, linear, .2s);
    cursor: pointer;
    //width: 100%;
    padding: 1em;
    font-weight: 700;
    -webkit-appearance: none;
    border-radius: 0;
    &:hover {
        background: darken($color-one, 10%);
        border-color: darken($color-one, 15%);
    }
}

.btn {
    display: inline-block;
    margin-right: .5em;
    margin-bottom: 1em;
    a {
        display: block;
        text-decoration: none;
        text-align: center;
        @include btn($color-one, #fff, darken($color-one, 10%), 2px, 95%);
        font-family: $font-family;
        @include trans(all, linear, .2s);
        &:hover {
            background: darken($color-one, 10%);
            border-color: darken($color-one, 15%);
        }
        i {
            vertical-align: middle;
            padding-left: .5em;
        }
    }
    &.alt a {
        @include btn($color-two, #fff, darken($color-two, 10%), 2px, 95%);
        &:hover {
            background: darken($color-two, 10%);
            border-color: darken($color-two, 15%);
        }
    }
}