form {
    label {
        //color: $heading-color;
        font-weight: normal;
        font-size: 110%;
        padding-bottom: .5em;
        display: inline-block;
        min-width: 55px;
    }
    .description {
        font-size: 85%;
        margin: 1em 0;
    }
}