body.blog {
    .content-bg .subpage {
        max-width: 1200px;
        padding: 2rem 0;
    }
    .left {
        @include breakpoint($bp-medium, $no-query: ".no-mq") {
            @include grid-span(8, 1, $gutter: 2);
        }
    }
    .right {
        @include breakpoint($bp-medium, $no-query: ".no-mq") {
            @include grid-span(4, 9, $gutter: 2);
            margin-top: 2rem;
        }
    }
    .sidebar {
        h4:first-child {
            margin-top: 0;
            margin-bottom: .4rem;
        }
        ul.categories {
            margin: 0 0 1rem 0;
            padding: 0 0 1rem 0;
            border-bottom: 2px solid #E8EBED !important;
            li {
                display: block;
                margin-bottom: .5rem;
                &.active a {
                    color: $color-two;
                }
            }
        }
        .call-to-action-sidebar {
            margin-top: 1rem;
            &.top {
                margin-top: 0;
            }
            p {
                margin: auto auto .5em auto;
                color: #7F8337;
            }
        }
        .social-links-sidebar {
            .social-link svg {
                width: 40px;
                height: 40px;
            }
        }
        .newsletter-sidebar {
            margin: 1rem 0 1.5rem 0;
            //text-align: center;
            a.newsletter-btn {
                font-size: .7rem;
                padding: 8px 10px;
            }
        }
    }
    #blog-wrapper {
        .blog-item {
            .blog-item-inner {
                margin: 2rem 0 0 0;
                //display: flex;
                //align-items: flex-start;
            }
            .post-image {
                // display: block;
                // width: 250px;
                // margin: 0 1rem 0 0;
                // height: auto;
                // top: 10px;
                // position: relative;
            }
            .post-content {
                //flex: 1;
            }
            h3 {
                font-size: 2rem;
                margin: 0;
                a.title {
                    text-decoration: none;
                }
            }
            p.posted {
                color: #b9b9b9;
                margin-bottom: .6rem;
                font-style: italic;
                font-size: .8rem;
            }
            .category-label {
                font-size: .8rem;
                margin-bottom: .6rem;
            }
            .tags-label {
                font-size: .8rem;
                margin-bottom: .6rem;
                a {
                    font-size: .7rem;
                    display: inline-block;
                    background-color: #461516;
                    color: #fff;
                    text-decoration: none;
                    padding: 0rem .4rem;
                    border-radius: 3px;
                    margin: 0 0 .2rem 0;
                }
            }
            .teaser-text {
                margin-top: .5rem;
                margin-bottom: .8rem;
            }
            .teaser-link {
                margin-bottom: .5rem;
                text-align: right;
                a {
                    font-size: .8rem;
                    display: inline-block;
                    border: 1px solid #461516;
                    text-decoration: none;
                    padding: 0rem .4rem;
                    border-radius: 3px;
                    margin: 0 0 .2rem 0;
                    transition: color .3s ease;
                    &:hover {
                        color: #fff;
                        background-color: #461516;
                    }
                }
            }
            padding-bottom: 1rem;
            border-bottom: 1px solid #ececec;
        }
    }
    .post-featured {
        position: relative;
        //overflow: hidden;
        margin: 0 0 1rem 0;
        picture,
        img {
            display: block;
        }
        .badge {
            position: absolute;
            top: 20px;
            left: 20px;
            background: #461517;
            color: #888932;
            text-transform: uppercase;
            font-size: .7rem;
            padding: .4rem;
            font-weight: bold;
        }
        h3 {
            position: absolute;
            bottom: 0;
            background: rgba(0, 0, 0, .6);
            margin: 0;
            padding: 1rem 1.5rem;
            color: #fff;
            a {
                color: #fff;
            }
        }
    }
}

.light {
    color: #b9b9b9;
}

.blog-post {
    h3 {
        font-size: 2rem;
        margin-bottom: 0;
    }
    p.posted {
        color: #b9b9b9;
        margin-bottom: .6rem;
        font-style: italic;
        font-size: .8rem;
    }
    .category-label {
        font-size: .8rem;
        margin-bottom: .6rem;
    }
    .tags-label {
        font-size: .8rem;
        margin-bottom: .6rem;
        a {
            font-size: .7rem;
            display: inline-block;
            background-color: #461516;
            color: #fff;
            text-decoration: none;
            padding: 0rem .4rem;
            border-radius: 3px;
            margin: 0 0 .2rem 0;
        }
    }
    padding-bottom: 1rem;
    border-bottom: 1px solid #ececec;
}

ul.pagination {
    padding: 0;
    li {
        display: inline-block;
        margin: 0 .6rem;
        &.active {
            a {
                text-decoration: none;
                color: #bdbdbd;
            }
        }
    }
}

.ribbon-wrapper-green {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    right: -3px;
}

.ribbon-green {
    font-weight: bold;
    text-transform: uppercase;
    font-size: .7rem;
    color: #333;
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -5px;
    top: 15px;
    width: 120px;
    background-color: #BFDC7A;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
    background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image: -moz-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image: -ms-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image: -o-linear-gradient(top, #BFDC7A, #8EBF45);
    color: #6a6340;
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.ribbon-green:before,
.ribbon-green:after {
    content: "";
    border-top: 3px solid #6e8900;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    bottom: -3px;
}

.ribbon-green:before {
    left: 0;
}

.ribbon-green:after {
    right: 0;
}