body.blog {
    .content-bg .subpage {
        max-width: 1200px;
        padding: 2rem 0;
    }
    .left {
        @include breakpoint($bp-medium, $no-query: ".no-mq") {
            @include grid-span(9, 1, $gutter: 1);
        }
    }
    .right {
        @include breakpoint($bp-medium, $no-query: ".no-mq") {
            @include grid-span(3, 10, $gutter: 1);
        }
    }
    .sidebar {
        h4:first-child {
            margin-top: 0;
            margin-bottom: .4rem;
        }
        ul.categories {
            margin: 0 0 1rem 0;
            padding: 0 0 1rem 0;
            border-bottom: 2px solid #E8EBED !important;
            li {
                display: block;
                margin-bottom: .5rem;
                &.active a {
                    color: $color-two;
                }
            }
        }
        .call-to-action-sidebar {
            margin-top: 1rem;
            &.top {
                margin-top: 0;
            }
            p {
                margin: auto auto .5em auto;
            }
        }
        .social-links-sidebar {
            .social-link svg {
                width: 30px;
                height: 30px;
            }
        }
        .newsletter-sidebar {
            margin: 1rem 0 1.5rem 0;
            //text-align: center;
            a.newsletter-btn {
                font-size: .7rem;
                padding: 8px 10px;
            }
        }
        
    }
    #blog-wrapper {
        .blog-item {
            .blog-item-inner {
                margin: 2rem 0 0 0;
                display: flex;
                align-items: flex-start;
            }
            .post-image {
                display: block;
                width: 250px;
                margin: 0 1rem 0 0;
                height: auto;
                top: 10px;
                position: relative;
            }
            .post-content {
                flex: 1;
            }
            h3 {
                font-size: 2rem;
                margin: 0;
            }
            p.posted {
                color: #b9b9b9;
                margin-bottom: .6rem;
                font-style: italic;
                font-size: .8rem;
            }
            .category-label {
                font-size: .8rem;
                margin-bottom: .6rem;
            }
            .tags-label {
                font-size: .8rem;
                margin-bottom: .6rem;
                a {
                    font-size: .7rem;
                    display: inline-block;
                    background-color: #461516;
                    color: #fff;
                    text-decoration: none;
                    padding: 0rem .4rem;
                    border-radius: 3px;
                    margin: 0 0 .2rem 0;
                }
            }
            .teaser-text {
                margin-top: .5rem;
                margin-bottom: .8rem;
            }
            .teaser-link {
                margin-bottom: .5rem;
                text-align: right;
                a {
                    font-size: .8rem;
                    display: inline-block;
                    border: 1px solid #461516;
                    text-decoration: none;
                    padding: 0rem .4rem;
                    border-radius: 3px;
                    margin: 0 0 .2rem 0;
                    transition: color .3s ease;
                    &:hover {
                        color: #fff;
                        background-color: #461516;
                    }
                }
            }
            padding-bottom: 1rem;
            border-bottom: 1px solid #ececec;
        }
    }
}

.light {
    color: #b9b9b9;
}

.blog-post {
    h3 {
        font-size: 2rem;
        margin-bottom: 0;
    }
    p.posted {
        color: #b9b9b9;
        margin-bottom: .6rem;
        font-style: italic;
        font-size: .8rem;
    }
    .category-label {
        font-size: .8rem;
        margin-bottom: .6rem;
    }
    .tags-label {
        font-size: .8rem;
        margin-bottom: .6rem;
        a {
            font-size: .7rem;
            display: inline-block;
            background-color: #461516;
            color: #fff;
            text-decoration: none;
            padding: 0rem .4rem;
            border-radius: 3px;
            margin: 0 0 .2rem 0;
        }
    }
    padding-bottom: 1rem;
    border-bottom: 1px solid #ececec;
}

ul.pagination {
    padding: 0;

    li {
        display: inline-block;
        margin: 0 .6rem;
        &.active {
            a {
                text-decoration: none;
                color: #bdbdbd;
            }
        }
    }
}