body.blog {
    .content-bg .subpage {
        max-width: 1200px;
        padding: 2rem 0;
    }
    .left {
        @include breakpoint($bp-medium, $no-query: ".no-mq") {
            @include grid-span(9, 1, $gutter: .5);
        }
    }
    .right {
        @include breakpoint($bp-medium, $no-query: ".no-mq") {
            @include grid-span(3, 10, $gutter: .5);
        }
    }
    .sidebar {
        h3:first-child {
            margin-top: 0;
        }
        ul.categories {
            margin: 0 0 1rem 0;
            padding: 0 0 1rem 0;
            border-bottom: 2px solid #E8EBED !important;
            li {
                display: inline-block;
                margin-bottom: .5rem;
                &.active a {
                    color: $color-two;
                }
            }
        }
        .call-to-action-sidebar {
            margin-top: 1rem;
        }
    }
    #blog-wrapper {
        .blog-item {
            h3 {
                font-size: 2rem;
                margin-bottom: 0;
            }
            p.posted {
                color: #b9b9b9;
                margin-bottom: .6rem;
                font-style: italic;
                font-size: .8rem;
            }
            .category-label {
                font-size: .8rem;
                margin-bottom: .6rem;
            }
            .tags-label {
                font-size: .8rem;
                margin-bottom: .6rem;
                a {
                    font-size: .7rem;
                    display: inline-block;
                    background-color: #461516;
                    color: #fff;
                    text-decoration: none;
                    padding: 0rem .4rem;
                    border-radius: 3px;
                    margin: 0 0 .2rem 0;
                }
            }
            padding-bottom: 1rem;
            border-bottom: 1px solid #ececec;
        }
    }
}

.light {
    color: #b9b9b9;
}

.blog-post {
    h3 {
        font-size: 2rem;
        margin-bottom: 0;
    }
    p.posted {
        color: #b9b9b9;
        margin-bottom: .6rem;
        font-style: italic;
        font-size: .8rem;
    }
    .category-label {
        font-size: .8rem;
        margin-bottom: .6rem;
    }
    .tags-label {
        font-size: .8rem;
        margin-bottom: .6rem;
        a {
            font-size: .7rem;
            display: inline-block;
            background-color: #461516;
            color: #fff;
            text-decoration: none;
            padding: 0rem .4rem;
            border-radius: 3px;
            margin: 0 0 .2rem 0;
        }
    }
    padding-bottom: 1rem;
    border-bottom: 1px solid #ececec;
}

ul.pagination {
    li {
        display: inline-block;
        margin: 0 .8rem;
        &.active {
            a {
                text-decoration: none;
                color: #bdbdbd;
            }
        }
    }
}