body.not-front {
    .subpage-header {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 300px;
        position: relative;
    }
    .with-sidebar {
        .content {
            @include breakpoint($bp-medium, $no-query: ".no-mq") {
                @include grid-span(9, 1);
            }
        }
        .sidebar {
            @include breakpoint($bp-medium, $no-query: ".no-mq") {
                @include grid-span(3, 10);
            }
        }
    }
}