.team--member {
    .team--feature-image {
        float: none;
        margin: 0 0 1rem 0;
        @include breakpoint($bp-medium, $no-query: ".no-mq") {
            float: left;
            margin: 0 1rem 1.1rem 0;
        }
    }
    ul.team--gallery {
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
        //line-height: 0;
        // column-count: 2;
        // column-gap: 10px;
        padding: 0;
        margin: 0;
        li {
            position: relative;
            display: block;
            text-align: center;
        }
        // @include breakpoint($bp-medium, $no-query: ".no-mq") {
        //     column-count: 3;
        //     column-gap: 20px;
        // }
        // li {
        //     display: block;
        //     width: 100% !important;
        //     height: auto !important;
        //     margin-bottom: 10px;
        //     @include breakpoint($bp-medium, $no-query: ".no-mq") {
        //         margin-bottom: 20px
        //     }
        // }
    }
    border-bottom: 1px solid #5C0A0C;
    margin-bottom: 2rem;
    padding-bottom: 4rem;
    &:last-child {
        border-bottom: none;
        margin-bottom: 2rem;
        padding-bottom: 0rem;
    }
}


/* revolver Slider container */

.revolver {
    display: none;
    position: relative;
    width: 100%;
    overflow: hidden
}

.rv-buttons {
    //display: none;
}

.revolver .rv-wrapper {
    display: none;
    position: relative
}

.revolver .rv-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

.revolver .rv-item {
    float: left
}

.revolver .rv-wrapper,
.revolver .rv-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden
}

.revolver .rv-page {
    cursor: pointer
}

.revolver .grabbing {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none
}

.revolver .rv-controls {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    text-align: center;
    //padding: 24px 0,
    padding: 0;
}

.revolver .rv-controls .rv-prev,
.revolver .rv-controls .rv-next {
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: 0;
    background: #55090b;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
    line-height: 1.3;
}

.revolver .rv-controls .rv-prev.disabled,
.revolver .rv-controls .rv-next.disabled {
    pointer-events: none;
    //filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=25);
    opacity: 0.25
}

.revolver .rv-controls .rv-prev {
    left: 12px
}

.revolver .rv-controls .rv-next {
    right: 12px
}

.revolver .rv-controls .rv-page {
    width: 12px;
    height: 12px;
    background: #55090b;
    -webkit-transition: background 300ms;
    -moz-transition: background 300ms;
    -ms-transition: background 300ms;
    -o-transition: background 300ms;
    transition: background 300ms;
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto
}

.revolver .rv-controls .rv-page {
    *display: inline
}

.revolver .rv-controls .rv-page:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.revolver .rv-controls .rv-page:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.revolver .rv-controls .rv-page.active {
    background: $color-two;
}

.revolver .rv-controls.clickable .rv-page:hover {
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    z-index: 1
}