.videos {
    h3 {
        font-size: 1.4rem;
    }
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-flow: row wrap;
    overflow: visible;
    .video {
        // flex: 1;
        margin: .8rem .5rem;
        //width: 48%;
        padding: 0;
    }
}