--- 
search_engine_optimization:
  page_title: 
  page_description:
  share_image_path:
layout: page 
---



<section class="blog-preface">{{ content }}</section>

<div class="left">

    <section id="blog-wrapper">
    <form><input type="text" class="search" placeholder="Search" /></form>
        <div class="list">
        {% for post in site.posts %}
        <div class="blog-item clearfix">
                <h3><a href="{{ post.url }}"  class="title">{{ post.title }}</a></h3>
                <p class="posted">{{ post.date | date: "%a, %b %d, %Y" }}</p>

                {% if post.categories %}
                <p class="category-label"><strong>Categories:</strong> {% for cat in post.categories %} <a href="{{ cat | prepend: '/blog/category/' | append: '/' }}">{{ cat | replace: '-', ' ' | capitalize }}</a> {% endfor %}
                </p>
                {% endif %} {% if post.tags[0] %}
                <p class="tags-label"><strong>Tags:</strong> {% for cat in post.tags %} <a href="{{ cat | replace: ' ', '-' | prepend: '/blog/tag/' | append: '/' }}">{{ cat | replace: '-', ' ' | capitalize }}</a> {% endfor %}
                </p>
                {% endif %} 
                {% if post.content %}
                <p class="teaser-text">{{ post.content | strip_html | truncatewords:75}}</p>
                <p class="teaser-link"><a href="{{ post.url }}">read more</a></p>
                {% endif %}
        </div>
        {% endfor %}
        </div>
        <ul class="pagination">
        </ul>
    </section>
</div>
<div class="right sidebar">
    <div class="editable call-to-action-sidebar top">
       <p> You can edit me. This will show just on the blog view page.</p>
    </div>
    <h4>Categories</h4>
    <ul class="categories">
        {% for category in site.categories %}
        <li><a href={{category.url}}>{{category.title}}</a></li>
        {% endfor %}
    </ul>
    <div class="editable call-to-action-sidebar">
       <p> You can edit me. This will show just on the blog view page.</p>
    </div>
</div>