---
search_engine_optimization:
  page_title: 
  page_description:
  share_image_path:
layout: page
class: blog
---
{% assign page_id = page.id | remove:'/blog/category/' %}
<h2><span class="light">Blog posts in:</span> {{ page_id |  replace: '-', ' ' | capitalize }}</h2>

<section class="blog-preface">{{ content }}</section>

<section id="blog-wrapper">
<form><input type="text" class="search" placeholder="Search" /></form>
<div class="list">
    {% for post in site.posts %}
    {% if post.categories contains page_id %}
    <div class="blog-item clearfix">
            <h3><a href="{{ post.url }}"  class="title">{{ post.title }}</a></h3>
            <p class="posted">{{ post.date | date: "%a, %b %d, %Y" }}</p>

            {% if post.categories %}
            <p class="category-label"><strong>Categories:</strong> {% for cat in post.categories %} <a href="{{ cat | prepend: '/blog/category/' | append: '/' }}">{{ cat | replace: '-', ' ' | capitalize }}</a> {% endfor %}
            </p>
            {% endif %} {% if post.tags[0] %}
            <p class="tags-label"><strong>Tags:</strong> {% for cat in post.tags %} <a href="{{ cat | replace: ' ', '-' | prepend: '/blog/tag/' | append: '/' }}">{{ cat | replace: '-', ' ' | capitalize }}</a> {% endfor %}
            </p>
            {% endif %} {% if post.description %}
            <p>{{ post.description }}</p>
            {% endif %}
    </div>
        {% endif %}
  {% endfor %}
    </div>
    <ul class="pagination">
    </ul>
</section>

