--- 
layout: default 
---
{% if page.hero_image %}
<div class="front-hero clearfix">
    <div class="front-hero-wrapper clearfix">
        <div class="slide">
            <picture>
                <!--[if IE 9]><video style="display: none;"><![endif]-->
                <source srcset="{{site.cloudinaryurl}}image/fetch/w_400,c_fill,c_fill,q_65/{{site.url}}{{ page.hero_image}}" media="(max-width: 400px)">
                <source srcset="{{site.cloudinaryurl}}image/fetch/w_600,c_fill,c_fill,q_65/{{site.url}}{{ page.hero_image}}" media="(max-width: 600px)">
                <source srcset="{{site.cloudinaryurl}}image/fetch/w_800,c_fill,c_fill,q_65/{{site.url}}{{ page.hero_image}}" media="(max-width: 800px)">
                <source srcset="{{site.cloudinaryurl}}image/fetch/w_1000,c_fill,c_fill,q_65/{{site.url}}{{ page.hero_image}}" media="(max-width: 1000px)">
                <source srcset="{{site.cloudinaryurl}}image/fetch/w_1200,c_fill,c_fill,q_65/{{site.url}}{{ page.hero_image}}" media="(min-width: 1200px)">
                <!--[if IE 9]></video><![endif]-->
                <img src="{{site.cloudinaryurl}}image/fetch/w_1200,c_fill,c_fill,q_65/{{site.url}}{{ page.hero_image}}" alt="{{page.title}}">
            </picture>
        </div>
    </div>
</div>
{% endif %}
<div class="content-bg clearfix">
    <div class="subpage clearfix">
        <div class="content">
            {{ content }}
        </div>
        <div class="content">
            {% if page.permalink == "/contact/" %} 
            {% include contact-form.html %} 
            {% elsif page.permalink == "/testimonials/" %} 
            {% include testimonials.html %} 
            {% elsif page.permalink == "/our-team/" %} 
            {% include team.html %} 
            {% elsif page.permalink == "/search/" %} 
            {% include google-search.html %} 
            {% endif %}
        </div>
    </div>
</div>