--- 
layout: default 
---
<div class="content-bg clearfix">
  <div class="subpage clearfix">
    <div class="content">
      {{ content }}
    </div>
    <div class="content">
        {% if page.permalink == "/contact/" %} 
        {% include contact-form.html %} 
        {% elsif page.id == "/procedures/procedure-videos" %}
        {% include videos.html %} 
        {% elsif page.permalink == "/search/" %}
        {% include google-search.html %} 
        {% endif %} 
    </div>
  </div>
</div>