--- 
layout: page 
---

<section class="blog-post">

{% if page.hero_image %}
<div class="front-hero clearfix">
    <div class="front-hero-wrapper clearfix">
        <div class="slide">
            <picture>
                <!--[if IE 9]><video style="display: none;"><![endif]-->
                <source srcset="{{site.cloudinaryurl}}image/fetch/w_292,c_fill,c_fill,q_65/{{site.url}}{{ page.hero_image}}" media="(max-width: 400px)">
                <source srcset="{{site.cloudinaryurl}}image/fetch/w_492,c_fill,c_fill,q_65/{{site.url}}{{ page.hero_image}}" media="(max-width: 600px)">
                <source srcset="{{site.cloudinaryurl}}image/fetch/w_728,c_fill,c_fill,q_65/{{site.url}}{{ page.hero_image}}" media="(max-width: 800px)">
                <source srcset="{{site.cloudinaryurl}}image/fetch/w_870,c_fill,c_fill,q_65/{{site.url}}{{ page.hero_image}}" media="(max-width: 1000px)">
                <source srcset="{{site.cloudinaryurl}}image/fetch/w_870,c_fill,c_fill,q_65/{{site.url}}{{ page.hero_image}}" media="(min-width: 1200px)">
                <!--[if IE 9]></video><![endif]-->
                <img src="{{site.cloudinaryurl}}image/fetch/w_870,c_fill,c_fill,q_65/{{site.url}}{{ page.hero_image}}" alt="{{page.title}}">
            </picture>
        </div>
    </div>
</div>
{% endif %}

    <p>
        <a href="/blog/">
            < Back to all blogs</a>
    </p>

    <h1>{{page.title }}</h1>

    {% comment %} {% if page.categories %}
    <p class="category-label"><strong>Categories:</strong> {% for cat in page.categories %} <a href="{{ cat | prepend: '/blog/category/' | append: '/' }}">{{ cat | replace: '-', ' ' | capitalize }}</a> {% endfor %}
    </p>
    {% endif %}  {% endcomment %}

    <div>{{ content }}</div>
    {% if page.tags[0] %}
    <p class="tags-label"><strong>Tags:</strong> 
    {% for tag in page.tags %} {% assign tagVar = tag %}
    {% for sitetag in site.tags %}
    {% if sitetag.path = tagVar %}
    {{sitetag}}
    <!--<a href="{{ tag | replace: ' ', '-' | prepend: '/blog/tag/' | append: '/' }}">{{ tag | replace: '-', ' ' | capitalize }}</a> -->
    {% endif %}
    {% endfor %}
    {% endfor %}
    </p>
    {% endif %}
    <div class="social-share-wrapper">
        {% include social-share.html %}
    </div>

    <nav class="pagination" role="navigation">
        <ul class="pager">
            {% if page.previous.url %}
            <li class="previous left">
                <a class="prev" href="{{page.previous.url}}">&laquo; {{ page.previous.title | truncate: 50 }}</a> {% endif %} {% if page.next.url %}
            </li>{% endif %} {% if page.next.url %}
            <li class="next right">
                <a class="next" href="{{page.next.url}}">{{ page.next.title | truncate: 50 }} &raquo;</a>
            </li>
        </ul>
        {% endif %}
        </ul>
    </nav>

</section>
</div>