--- 
layout: page 
---

<section class="blog-post">
    <p>
        <a href="/blog/">
            < Back to all blogs</a>
    </p>

    <h1><a href="{{page.url }}">{{page.title }}</a></h1>
    <p class="posted">{{page.date | date: "%a, %b %d, %Y" }}</p>

    {% if page.categories %}
    <p class="category-label"><strong>Categories:</strong> {% for cat in page.categories %} <a href="{{ cat | prepend: '/blog/category/' | append: '/' }}">{{ cat | replace: '-', ' ' | capitalize }}</a> {% endfor %}
    </p>
    {% endif %} {% if page.tags[0] %}
    <p class="tags-label"><strong>Tags:</strong> {% for cat in page.tags %} <a href="{{ cat | replace: ' ', '-' | prepend: '/blog/tag/' | append: '/' }}">{{ cat | replace: '-', ' ' | capitalize }}</a> {% endfor %}
    </p>
    {% endif %}

    <div>{{ content }}</div>

    {% if page.iframe.url %}
    <div id="iframe">
        <h3>{{page.iframe.title}}</h3>
        <iframe src="{{page.iframe.url}}" width="{{page.iframe.width}}" height="{{page.iframe.height}}" frameborder="0">Loading...</iframe>
    </div>
    {% endif %}

    <nav class="pagination" role="navigation">
        <ul class="pager">
            {% if page.previous.url %}
            <li class="previous left">
                <a class="prev" href="{{page.previous.url}}">&laquo; {{ page.previous.title | truncate: 50 }}</a> {% endif %} {% if page.next.url %}
            </li>{% endif %} {% if page.next.url %}
            <li class="next right">
                <a class="next" href="{{page.next.url}}">{{ page.next.title | truncate: 50 }} &raquo;</a>
            </li>
        </ul>
        {% endif %}
        </ul>
    </nav>

</section>
</div>