---
search_engine_optimization:
  page_title: 
  page_description:
  share_image_path:
layout: page
class: blog
---
  {% assign page_id = page.id | remove:'/blog/tag/' %}
<h2><span class="light">Blog posts in:</span> {{ page_id | replace: '-', ' ' | capitalize }}</h2>

<section class="blog-preface">{{ content }}</section>

<div class="left">

    <section id="blog-wrapper">
        {% comment %}
        <form><input type="text" class="search" placeholder="Search" /></form> {% endcomment %}
        <div class="list">
            {% for post in site.posts %} {% if post.tags contains page_id %}
            <div class="blog-item clearfix">

                <div class="blog-item-inner">


                    {% if post.hero_image %}
                    <div class="post-image">
                        <picture>
                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                            <source srcset="{{site.cloudinaryurl}}image/fetch/w_250,q_85/{{site.url}}{{ post.hero_image}}" media="(max-width: 400px)">
                            <!--[if IE 9]></video><![endif]-->
                            <img src="{{site.cloudinaryurl}}image/fetch/w_250,q_85/{{site.url}}{{ post.hero_image}}" alt="{{page.title}}" class="lazyload">
                        </picture>
                    </div>
                    {% endif %}

                    <div class="post-content">
                        <h3><a href="{{ post.url }}" class="title">{{ post.title }}</a></h3>
                        {% comment %}
                        <p class="posted">{{ post.date | date: "%a, %b %d, %Y" }}</p>

                        {% if post.categories %}
                        <p class="category-label"><strong>Categories:</strong> {% for cat in post.categories %} <a href="{{ cat | prepend: '/blog/category/' | append: '/' }}">{{ cat | replace: '-', ' ' | capitalize }}</a> {% endfor %}
                        </p>
                        {% endif %} {% if post.tags[0] %}
                        <p class="tags-label"><strong>Tags:</strong> {% for cat in post.tags %} <a href="{{ cat | replace: ' ', '-' | prepend: '/blog/tag/' | append: '/' }}">{{ cat | replace: '-', ' ' | capitalize }}</a> {% endfor %}
                        </p>
                        {% endif %} {% endcomment %}
                    </div>

                </div>

                {% if post.content %}
                <p class="teaser-text">{{ post.content | strip_html | truncatewords:75}}</p>
                <p class="teaser-link"><a href="{{ post.url }}">read more</a></p>
                {% endif %}


            </div>
            {% endif %} {% endfor %}
        </div>
        <ul class="pagination">
        </ul>
    </section>

</div>
<div class="right sidebar">
    <div class="editable call-to-action-sidebar top">
        <p> You can edit me. This will show just on the blog view page.</p>
    </div>
    <h4>Categories</h4>
    <ul class="categories">
        {% for category in site.categories %}
        <li><a href={{category.url}}>{{category.title}}</a></li>
        {% endfor %}
    </ul>
    <div class="editable call-to-action-sidebar">
        <p>You can edit me. This will show just on the blog Tags view page.</p>
    </div>
</div>